[submodule "src/ContractionHierarchies/lib/cereal"]
	path = src/ContractionHierarchies/lib/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "src/ContractionHierarchies/lib/pugixml"]
	path = src/ContractionHierarchies/lib/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "tests/lib/Catch2"]
	path = tests/lib/Catch2
	url = https://github.com/catchorg/Catch2.git
	branch = v2.x
[submodule "benchmark/lib/nanobench"]
	path = benchmark/lib/nanobench
	url = https://github.com/martinus/nanobench.git
